<section>
      <h1> <%= @movie.title %> </h1>
      <p><strong>Rating:</strong> <%= @movie.rating %> </p>
      <p><strong>Year released:</strong> <%= @movie.year %> </p>
      <p><strong>Description:</strong> <%= @movie.description %> </p>
</section>

<section>
	<h2> Reviews</h2>
</section>